.card-container {
    width: 20rem !important;
    border-radius: 1rem !important;
    box-shadow: 1px, 10px, #999;
    display: flex !important;
    flex-direction: column;
    margin: 1rem;
    background-color: aliceblue;
    height: fit-content;

}

.card-img {
    width: 100%;
    border-radius: 1rem;
}

.card-title {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.5rem;
    text-decoration: none;
}

.card-details {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem;
    text-decoration: none;

}

.container {
    display: flex;
}